html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-grey: #707070;
}
