.pageContainer {
  height: 100vh;
  width: 100vw;
  min-height: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: 200px;
}
.imageCollage {
  height: 75vh;
  border: yellow solid thick;
}
