.pageContainer {
  height: 100vh;
  width: 100vw;
  min-height: 500px;
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 200px;
}
.imageCollage {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
/*
* This section controls Destination images
*/
